.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;

    grid-template-areas:
    "header header"
    "nav content";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
}

.header {
    grid-area: header;
    background-color: orange;
}
.header img {
    width: 60px;
}

.nav {
    grid-area: nav;
    background-color: orange;
}

.profile {
    grid-area: content;
    background-color: deepskyblue;
}

.footer {
    grid-area: footer;
}


